/* MAIN SECTION  */
.main {
  position: relative;
  z-index: 4;
  background: var(--white);
  margin-top: 100vh;
}

/* INTRODUCTION SECTION*/

.intro__text {
  padding: 2rem 0 12rem 5rem;
  margin: 0;
  font-weight: 300;
  font-size: 26px;
  visibility: hidden;
  width: 50%;
}
