@media only screen and (orientation: landscape) and (max-height: 430px) {
  .hero__text_container {
    margin-left: 2rem;
  }

  .hero__web,
  .hero__developer {
    font-size: 3rem;
  }

  .hero__description {
    font-size: 1.5rem;
  }

  .navbar {
    top: 100px;
    right: 80px;
  }
}

@media only screen and (max-width: 750px) {
  .header {
    padding: 2rem 0.5rem;
  }

  .hero {
    background: black url('../imgs/london_mobile.webp') no-repeat right / cover;
  }

  .intro__text {
    padding-left: 1rem;
    padding-top: 1rem;
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .logo__container {
    align-self: flex-start;
  }

  .menu {
    flex-direction: column;
    gap: 2rem;
  }

  .hero__text_container {
    margin-left: 1rem;
  }

  .hero__web,
  .hero__developer {
    font-size: 4rem;
  }

  .hero__description {
    font-size: 2rem;
  }

  /* NAVBAR TRANSITION FROM HIDDEN TO VISIBLE */
  .navbar {
    position: absolute;
    top: 110px;
    transform: translateY(-150px);
    opacity: 0;
  }

  /* Keyframes for sliding down header with opacity change after transform */
  @keyframes slideDown {
    0% {
      transform: translateY(-150px);
      opacity: 0;
    }
    50% {
      transform: translateY(-75px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Keyframes for sliding up header with opacity change first */
  @keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(-150px);
      opacity: 0;
    }
  }

  /* Apply header animation for the show state */
  .navbar.show {
    animation: slideDown 0.4s forwards;
  }

  /* Apply header animation for the hide state */
  .navbar.hide {
    animation: slideUp 0.5s forwards;
  }

  .intro__text {
    width: 95%;
  }
}
