body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #f6e5df;
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --orange: #ee9b00;
  --grey: black;
  --bar-width: 30px;
  --bar-height: 2px;
  --bar-gap: 5px;
  --animation: 200ms ease-in-out;
  --burger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
}

/* HEADER  */

.burger__menu {
  display: none;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: var(--orange);
  background-color: #fff0;
  width: 100%;
}
.header a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  flex-basis: 50%;
}
.menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.menu__item {
  flex-grow: 1;
  text-align: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 900;
}

/* HERO SECTION */

.hero {
  background: black url('./imgs/london_desktop.webp') no-repeat center / cover;
  padding: 12rem 5rem;
  text-shadow:
    1px 1px 1px #000,
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000;
}

.hero__text_container {
  color: var(--orange);
}

.hero__title {
  font-size: 5rem;
  font-weight: 900;
  margin: 0;
}

.line-break {
  display: block;
}

.hero__description {
  display: inline;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  position: relative;
  top: -0.8em;
}

@media only screen and (max-width: 750px) {
  .header {
    padding: 2rem 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .logo__container {
    align-self: flex-start;
  }
  .menu {
    flex-direction: column;
    gap: 1rem;
  }

  .hero {
    padding: 18rem 1rem 5rem 2rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .hero__description {
    font-size: 2rem;
  }

  /* BURGER MENU ICON */
  .burger__menu {
    --x-width: calc(
      var(--burger-height) * 1.41421356237
    ); /* calculates the length of the lines when they become a cross (multiply by the square root of 2) */
    position: absolute;
    top: 32px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--bar-gap);
    cursor: pointer;
    padding: 0.5rem;
  }

  .burger__menu input, /* checkbox. middle line */
  .burger__menu::before, /* top line */
  .burger__menu::after {
    /* bottom line */
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    border-radius: 18px;
    background: var(--orange);
    transition:
      opacity var(--animation),
      /* transition for opacity, width, length and rotate */ width
        var(--animation),
      rotate var(--animation),
      translate var(--animation);
    transform-origin: left; /* the axis where the lines rotate are now on the left */
  }

  .burger__menu input {
    appearance: none; /* removes checkbox appareance and takes the above settings (widht, length) */
    pointer-events: none; /* disable click on the checkbox so that the click is handled by the b_menu */
  }

  .burger__menu:has(input:checked)::before {
    rotate: 45deg; /*rotates the top line downwards */
    width: var(
      --x-width
    ); /*sets the new length of the line when it becomes a cross */
    translate: 0 calc(var(--bar-height) / -2); /*moves the axis slightly up */
  }

  .burger__menu:has(input:checked)::after {
    rotate: -45deg; /* rotates the bottom line upwards */
    width: var(
      --x-width
    ); /*sets the new length of the line when it becomes a cross */
    translate: 0 calc(var(--bar-height) / 2); /*moves the axis slightly down */
  }

  .burger__menu input:checked {
    /* removes the middle line */
    opacity: 0;
    width: 0;
  }

  /* NAVBAR TRANSITION FROM HIDDEN TO VISIBLE */
  .navbar {
    position: absolute;
    top: 110px;
    transform: translateY(-150px);
    opacity: 0;
    /* transition:
      opacity 0.4s ease-in-out,
      transform 0.4s ease-in-out; */
  }

  /* Keyframes for sliding down with opacity change after transform */
  @keyframes slideDown {
    0% {
      transform: translateY(-150px);
      opacity: 0;
    }
    50% {
      transform: translateY(-75px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Keyframes for sliding up with opacity change first */
  @keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(-150px);
      opacity: 0;
    }
  }

  /* Apply animation for the show state */
  .navbar.show {
    animation: slideDown 0.4s forwards;
  }

  /* Apply animation for the hide state */
  .navbar.hide {
    animation: slideUp 0.5s forwards;
  }
}
